
#main{
    width: 100%;

}
/*______________________________________header_______________________________________*/
.header{
    background-color: rgb(247, 101, 191);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.header__nav{
    height: var(--height-header);
}
.header__nav-list{
    display: flex;
    list-style: none;
}
.header__nav-item{
    position: relative;
}
.header__nav-list .header__nav-item:first-child{
    display: inline-block;
}
.header__nav-item:last-child i{
    margin-left: 5px;
}
.header__nav-item:last-child:hover .nav-item__menu{
    display: block;
}
.header__nav-item:hover .header__nav-item-link{
    background-color:var(--black-color) ;
    color: var(--white-color);
    border: 1px solid rgb(236, 222, 14);
}
.header__nav-item-link{
    text-decoration: none;
    width: 100%;
    color: var(--black-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 46px;
    display: inline-block;
    padding: 0 24px;
    font-weight: 700;
    background-color: rgb(247, 101, 191);
}
.header__btn-menu{
    display: none;
    height: 46px;
    width: calc(5%);
    text-align: center;
    padding-top: 16px;
    font-size: 1.4rem;
    color: var(--black-color);
    background-color: rgb(247, 101, 191);
}
.header__search{
    display: inline-block;
    height: 46px;
    width: calc(5%);
    text-align: center;
    padding-top: 16px;
    font-size: 1.4rem;
    color: var(--black-color);
    background-color: rgb(247, 101, 191);
}

.header__search:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid rgb(236, 222, 14);
}
/*sub menu*/
.nav-item__menu{
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    list-style: none;
    background-color: var(--black-color);
    border-radius: 2px;
    min-width: 150%;
    padding: 5px 0;box-shadow: 1px 2px 2px rgba(128, 125, 125, 0.05);
    transform-origin: 20% top;
    animation: fadeInGrowth ease-in 0.2s;
    display: none;
}
.nav-item__menu::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: -29px;
}
.nav-item__menu::before{
    content: "";
    position: absolute;
    border: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--black-color) transparent;
    top: -17px;
    left: 20%;
}
.nav-item__menu-item{
    background-color: var(--black-color);
}
.nav-item__menu-item:hover{
    filter: brightness(80%);
    border: 1px solid rgb(236, 222, 14);
    border-right: none;
    border-left: none;
}
.nav-item__menu-item a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    padding: 5px 22px;
}
/*_____________________________________________slide______________________________________*/
.slider{
    width: 100%;
    height: var(--height-slider);
    background-color:var(--white-color);
    position: relative;
    top: var(--height-header);
    left: 0;
}
.slider-img{

}
.slider-img img{
    height: var(--height-slider);
    width: 100%;
}
/*_________________________________________________container_______________________________*/
.container{
    position: relative;
    top: var(--height-header);
    left: 0;
}
/*band*/
.band{
    width: 800px;
    max-width: 100%;
    margin: 0 auto ;
    padding: 100px 0;
}
.band__title{
    color: var(--black-color);
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.band__slogan{
    display: block;
    text-align: center;
    color: #8d8d8d;
    font-size: 1.4rem;
    margin: 40px 0;
}
.band__description{
    font-size: 1.4rem;
    color: var(--black-color);
    text-align: justify;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.band__img-member{
    display: flex;
    margin: 100px 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-item{
    width: 23%;
}
.img-item__name{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 10px 0;
}
.img-item img{
    width: 100%;
    height: 260px;
}
.img-item img:hover{
    animation: imgHello ease-in 0.2s forwards;
}
@keyframes imgHello{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
/*tour*/
.tour-wrap{
    background-image: linear-gradient(0, var(--black-color), rgb(247, 101, 191));
}
.tour{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}
.tour__title{
    color: var(--black-color);
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 4px;
}
.tour__slogan{
    display: block;
    text-align: center;
    color: #fdfdfd;
    font-size: 1.4rem;
    margin: 40px 0;
}
.tour__list{
    background-color: var(--white-color);
    list-style: none;
    border: 1px solid #ccc;
}
.tour__list-item{
   height: 39px;
   border-bottom: 1px solid #ccc;
   padding: 0 18px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.tour__list-item:last-child{
    border-bottom:none;
 }
.item-time{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--black-color);
    margin-right: 18px;
}
.item-status{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: #f44336;
    padding: 3px 8px;
    display: none;
}
.tour__list-item--sold .item-status{
    display: inline-block;
}
.item-slot{
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    border-radius: 15px;
    width: 24px;
    height: 22px;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: var(--black-color);
    display: none;
}
.tour__list-item--has-slot .item-slot{
    display: inline-block;
}
/*tour place*/
.tour-concert{
    padding-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tour-concert__place{
    width: 32%;
    background-color: var(--white-color);
}
.tour-concert__place img{
    width: 100%;
    height: 183px;
}
.tour-concert__place-wrap-content{
    padding: 0 28px;
    display: flex;
    flex-direction: column;
}
.tour-concert__place-wrap-content h5{
    font-size: 1.5rem;
    display: inline-block;
    margin: 24px 0;
}
.tour-concert__place-wrap-content span{
    font-size: 1.4rem;
    display: inline-block;
    color: #666;
    margin-bottom: 24px;
}
.tour-concert__place-wrap-content p{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height: 25px;
}
.btn-buy-ticket{
    margin:18px 0;
}
.btn-buy-ticket:hover{
    color: var(--white-color);
    background-color: var(--black-color);
    border: 1px solid rgb(247, 235, 70);
}   
/*__________________________________________contact________________________________________*/
.contact{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}
.contact__title{
    color: var(--black-color);
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.contact__slogan{
    display: block;
    text-align: center;
    color: #8d8d8d;
    font-size: 1.4rem;
    margin: 40px 0;
}
.contact__main{
    display: flex;
    justify-content: space-between;
}
.contact-main__info{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.contact-main__info i{
    margin-right: 20px;
}
.contact-main__info .contact-main__info-address i{
    margin-right: 29px;
}
.contact-main__info-address{
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 550;
    line-height: 28px;

}
.contact-main__info-phone{
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 550;
    line-height: 28px;

}
.contact-main__info-email{
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 550;
    line-height: 28px;

}
.contact-main__fill form{
    display: flex;
    flex-direction: column;
}
.contact__input-up{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#name , #email{
    width: 48%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.contact__input-down{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
#message{
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.contact__btn{
    margin-left: auto;
}
.contact__btn:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    border:  1px solid rgb(247, 235, 70);
}
/*_________________________________________________map______________________________________*/
.map{
    width: 100%;
    padding-top: 800px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*_____________________________________________footer___________________________________*/
.footer{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 100px;
    text-align: center;
    background-color: hsl(0, 1%, 85%);
    position: relative;
    top: var(--height-header);
    left: 0;
}
.footer__community{
    display: flex;
    justify-content: center;
}
.footer__community a{
    text-decoration: none;
    color: #666;
    font-size: 2.2rem
}
.footer__community a:hover{
    color: #999;
}
.footer__community a i{
    margin: 0 5px;
}
.footer__slogan{
    display: inline-block;
    margin-top: 30px;
    color: #666;
    font-size: 1.1rem;
}
/*____________________________________________modal______________________________________*/
.modal-header{
    background-color: rgb(247, 101, 191);
    display: flex;
    flex-direction: column;
}
.close{
    margin-left: auto;
    font-size: 2rem;
    font-weight: 300;
    color: var(--white-color);
    display: inline-block   ;
    padding: 10px;
}
.close:hover{
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--primary-color);
}
.header__title{
    text-align: center;
    color: var(--white-color);
    font-size: 3rem;
    letter-spacing: 4px;
    padding: 32px 16px;
    transform: translateY(-12%);
}
.modal-content{
    padding: 20px;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-content__number-tickets{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.label-tickets{
    display: flex;
    margin-bottom: 15px;
}
.label-tickets i{
    margin-right: 5px;
}
.label-tickets i, .label-tickets span{
    color: var(--black-color);
    font-size: 1.4rem;
}
.modal-content__number-tickets input{
    padding:12px 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
}
.modal-content__sendto{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.label-sendto{
    display: flex;
    margin-bottom: 15px;
}
.label-sendto i{
    margin-right: 5px;
}
.label-sendto i, .label-sendto span{
    color: var(--black-color);
    font-size: 1.4rem;
}
.modal-content__sendto input{
    padding: 12px 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
}
.btn.modal-btn{
    width: 100%;
    margin-top: 25px;
}
.btn.modal-btn:hover{
    border: 1px solid rgb(243, 247, 45);
    background-color: var(--black-color);
    
}
.modal-help{
    display:block;
    margin-top: 20px;
    text-align: right;
    font-size: 1.3rem;
}
.modal-help a{
    color: var(--primary-color);
    text-decoration: none;
}
/*__________________________________________________reponsive________________________________________*/
@media (min-width: 740px) and (max-width: 1023px){
   .band{
        padding-left: 20px;
        padding-right: 20px;
   }
   .tour{
        padding-left: 20px;
        padding-right: 20px;
   }
   .contact{
        padding-left: 20px;
        padding-right: 20px;
   }
   .map{ 
       padding-top: 500px;
   }
}
@media (max-width: 739px){
    .header__nav{
        overflow: hidden;
        width: 100%;
    }
    .header__nav-list{
        display: list-item;
    }
    .header__search{
        display: none;
    }
    .header__btn-menu{
        display: inline-block;
    }
    .band{
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-item {
        width: 70%;
    
    }
    .band__img-member{
        justify-content: center;
    }
    .tour{
        padding-left: 20px;
        padding-right: 20px;
    }
    .tour-concert{
       justify-content: center;
    }
    .tour-concert__place{
        width: 80%;
        margin-bottom: 20px;
    }
    .contact{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact__main{
        flex-direction: column;
    }
    .contact-main__info{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact__input-up{
        flex-direction: column;
    }
    #name{
        margin-bottom: 10px;
    }
    #name, #email{
        width: 100%;
    }
    .map{
        padding-top: 300px;
    }
}
@media (max-width: 1023px){
    .btn{
        min-height: 42px;
    }
}


